:host {
  display: block;
  padding: 1rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h5 {
    font-size: 1rem;
    text-align: center;
  }
  
  p {
    font-size: 0.875rem;
    margin-top: 0.675rem;
    text-align: center;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    
    button {
      background-color: #fff;
      border: none;
      cursor: pointer;
    }

    .deselect-client {
      margin-left: auto;
    }
  }
}